*{
margin:0;
padding:0;
}

body
{
background-image:url("Picture.png");
background-size:cover;
background-position:lefttop;
box-sizing:border-box;
font-family:sans-serif;
}

.main{
background-color:#23456f2f;
text-align:left;
}
.main ul{
display:inline-flex;
list-style:none;
color:ffffffff;
}
.main ul li{
width:125px;
margin:14px;
padding-top:15px;
padding-bottom:15px;
padding-left:15px;
padding-right:35px;
}
.main ul li a
{
text-decoration: none;
color:#fff;
}
.active,.main ul li:hover
{
background:#23456f9f;
border-radius:2px;
}

.sub-1
{
display:none;
}
.main ul li:hover .sub-1
{
display:block;
position:absolute;
background:#23456f7f;
margin-top:15px;
margin-left:-15px;
}

.main ul li:hover .sub-1 ul
{
display:block;
margin:10px;
}

.main ul li:hover .sub-1 ul li
{
width:150px;
padding:10px;
border-bottom:1px dotted #fff;
background:transparent;
border-radius:0;
text-align:left;
}
.main ul li:hover .sub-1 ul li:last-child
{
border-bottom:none;
}
.main ul li:hover .sub-1 ul li a:hover
{
color:#ffff759f;
}




.sub-2
{
display:none;
}
.main ul li:hover .sub-2
{
display:block;
position:absolute;
background:#23456f7f;
margin-top:15px;
margin-left:-15px;
}

.main ul li:hover .sub-2 ul
{
display:block;
margin:10px;
}

.main ul li:hover .sub-2 ul li
{
width:150px;
padding:10px;
border-bottom:1px dotted #fff;
background:transparent;
border-radius:55;
text-align:left;
}
.main ul li:hover .sub-2 ul li:last-child
{
border-bottom:none;
}
.main ul li:hover .sub-2 ul li a:hover
{
color:#ffff7a9f;
}



.sub-3
{
display:none;
}
.main ul li:hover .sub-3
{
display:block;
position:absolute;
background:#23456f7f;
margin-top:15px;
margin-left:-15px;
}

.main ul li:hover .sub-3 ul
{
display:block;
margin:10px;
}

.main ul li:hover .sub-3 ul li
{
width:200px;
padding:10px;
border-bottom:1px dotted #fff;
background:transparent;
border-radius:55;
text-align:left;
}
.main ul li:hover .sub-3 ul li:last-child
{
border-bottom:none;
}
.main ul li:hover .sub-3 ul li a:hover
{
color:#ffff7a9f;
}
